.header a, a:hover {
	color: #f0ad4e;
	text-decoration: none;
}

.header h1 {
	letter-spacing: 15px;
	font-size: 300%;
}

.header p {
	color: white !important;
	font-size: 90%;
	letter-spacing: 3px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #346270;
}

.nav-pills>li>a {
	color: #fff;
}

.nav-pills>li>a:hover {
	background-color: #346270;
}


.navbar-inverse {
    padding: 1%;
    border-radius: 0;
}

@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
	}

	.nav-pills {
		text-align: center;
	}

	.header h1 { 
	    font-size: 280%;
	    letter-spacing: 5px;
	}

	.header {
		text-align: center;
	}
} 


.clear {
	clear: both;
	height: 63px;
}

.wrapper {
	min-height: 100%;
}

html, body {
	height: 100%;
}

.films_block {
	text-align: center;
}

.films_block img {
	margin-bottom: 5%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 100%;
}

.film_label {
	padding: 2%;
	margin-bottom: 4%;
}

.margin-8 {
	margin-top: 8%;
}


.panel {
	border: none;
}

.panel-body {
	background-color: #f9f9f9;
}

.panel-info>.panel-heading {
	background-color: #f0ad4e;
	color: white;
	border-color: transparent;
}

.sidebar-header {
	font-size: 120%;
	letter-spacing: 2px;
}


.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-lg {
	font-size: 14px;
}
.info-block{
	font-size: 120%;
}
.info-block .badge{
	font-size: 80%;
}
.info-block span{
	margin-right: 3%;
}
textarea.form-control{
	height: 200px;
}
.contakts{
	width: 655px;
	margin-left: 100px;
}
.input-contakts{
	padding-bottom: 6px;
	margin-top: 6px;
}
.table tbody>tr>td.vert-align{
vertical-align: middle;
}
footer {
	color: #666;
	background: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
}

footer a {
	color: #999;
}

footer a:hover {
	color: #efefef;
}

.custom-mt-3 {
	margin-top: 15px; 
}

.custom-mb-2 {
	margin-bottom: 10px;
}
.custom-mr-1 {
	margin-right: 20px;
}
.custom-ml-1 {
	margin-left: 20px;
}

a:hover,a:focus{
	outline: none;
	text-decoration: none;
   }
   .tab{
	background: #200122;
	background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
	background: linear-gradient(to bottom, #6f0000, #200122);
	padding: 40px 50px;
	position: relative;
   }
   .tab:before{
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(#2e3a6a,#2f0b45);
	opacity: 0.85;
   }
   .tab .nav-tabs{
	border-bottom: none;
	padding: 0 20px;
	position: relative;
   }
   .tab .nav-tabs li{ margin: 0 30px 0 0; }
   .tab .nav-tabs li a{
	font-size: 18px;
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;
	background: transparent;
	padding: 0;
	margin-right: 0;
	border: none;
	border-bottom: 2px solid transparent;
	opacity: 0.5;
	position: relative;
	transition: all 0.5s ease 0s;
   }
   .tab .nav-tabs li a:hover{ background: transparent; }
   .tab .nav-tabs li.active a,
   .tab .nav-tabs li.active a:focus,
   .tab .nav-tabs li.active a:hover{
	border: none;
	background: transparent;
	opacity: 1;
	border-bottom: 2px solid #eec111;
	color: #fff;
   }
   .tab .tab-content{
	padding: 20px 0 0 0;
	margin-top: 40px;
	background: transparent;
	z-index: 1;
	position: relative;
   }
   .form-bg{ background: #ddd; }
   .form-horizontal .form-group{
	margin: 0 0 15px 0;
	position: relative;
   }
   .form-horizontal .form-control{
	height: 40px;
	background: rgba(255,255,255,0.2);
	border: none;
	border-radius: 20px;
	box-shadow: none;
	padding: 0 20px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	transition: all 0.3s ease 0s;
   }
   .form-horizontal .form-control:focus{
	box-shadow: none;
	outline: 0 none;
   }
   .form-horizontal .form-group label{
	padding: 0 20px;
	color: #7f8291;
	text-transform: capitalize;
	margin-bottom: 10px;
   }
   .form-horizontal .main-checkbox{
	width: 20px;
	height: 20px;
	background: #eec111;
	float: left;
	margin: 5px 0 0 20px;
	border: 1px solid #eec111;
	position: relative;
   }
   .form-horizontal .main-checkbox label{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
   }
   .form-horizontal .main-checkbox label:after{
	content: "";
	width: 10px;
	height: 5px;
	position: absolute;
	top: 5px;
	left: 4px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
   }
   .form-horizontal .main-checkbox input[type=checkbox]{ visibility: hidden; }
   .form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{ opacity: 1; }
   .form-horizontal .text{
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin-left: 7px;
	line-height: 20px;
	padding-top: 5px;
	text-transform: capitalize;
   }
   .form-horizontal .btn{
	width: 100%;
	background: #eec111;
	padding: 10px 20px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border-radius: 20px;
	text-transform: uppercase;
	margin: 20px 0 30px 0;
   }
   .form-horizontal .btn:focus{
	background: #eec111;
	color: #fff;
	outline: none;
	box-shadow: none;
   }
   .form-horizontal .forgot-pass{
	border-top: 1px solid #615f6c;
	margin: 0;
	text-align: center;
   }
   .form-horizontal .forgot-pass .btn{
	width: auto;
	background: transparent;
	margin: 30px 0 0 0;
	color: #615f6c;
	text-transform: capitalize;
	transition: all 0.3s ease 0s;
   }
   .form-horizontal .forgot-pass .btn:hover{ color: #eec111; }
   @media only screen and (max-width: 479px){
	.tab{ padding: 40px 20px; }
   }

   .m-04 {
	margin: 0.4em;
   }
   .form-label {
	margin-bottom: 0.5rem;
  }
  .form-select:invalid:not([multiple])[size="1"], .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"] {
	--bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	padding-right: 4.125rem;
	background-position: right 0.75rem center, center right 2.25rem;
	background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"] {
	--bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	padding-right: 4.125rem;
	background-position: right 0.75rem center, center right 2.25rem;
	background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
  .form-select {
	--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	display: block;
	width: 100%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	border: 1px solid #dee2e6;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-select:focus {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  .form-select[multiple], .form-select[size]:not([size="1"]) {
	padding-right: 0.75rem;
	background-image: none;
  }
  .form-select:disabled {
	background-color: #e9ecef;
  }
  .form-select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #212529;
  }
  
  .form-select-sm {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	font-size: 0.875rem;
	border-radius: var(--bs-border-radius-sm);
  }
  
  .form-select-lg {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	font-size: 1.25rem;
	border-radius: var(--bs-border-radius-lg);
  }
